<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/shopping-cart}">Your cart</a>
<table>
    <tr>
        <td>ID</td>
        <td th:text="${product.get().id}"></td>
    </tr>
    <tr>
        <td>NAME</td>
        <td th:text="${product.get().name}"></td>
    </tr>
    <tr>
        <td>PRICE</td>
        <td th:text="${product.get().price}"></td>
    </tr>
    <tr>
        <td>DESCRIBE</td>
        <td th:text="${product.get().description}"></td>
    </tr>
</table>
</body>
</html>