<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
    <form th:action="@{/save}" th:method="post" th:object="${feedback}">
        <table>
            <input type="text" hidden th:field="*{photo.id}">
            <br>
            <tr>

                <td><img th:src="${feedback.photo.photoLink}" style="width: 30%;height: 30%"></td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>
                    <input type="text" th:field="*{rate}">
                </td>
            </tr>
            <tr>
                <th>Author</th>
                <td><input type="text" th:field="*{author}"></td>
            </tr>
            <tr>
                <th>Comment</th>
                <td><textarea type="text" th:field="*{comment}" rows="5"/></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>