<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
<form th:action="@{/showForm}" th:method="get">
    <div th:if="${photo}">
        <img th:src="${photo.photoLink}" style="width: 30%;height: 30%">
        <input hidden th:value="${photo.photoLink}" name="photo-src">
    </div>
    <div th:if="${feedback == null}">
        <img id="img-of-the-day" style="width: 30%;height: 30%">
        <input hidden id="photo-src" name="photo-src">
    </div>
    <br>
    <input type="submit" value="Feedback">
</form>
<div th:if="${feedback}">
    <h3>Feedbacks</h3>
    <th:block th:each="fb : ${feedbacks}">
        <p> + <span th:text="${fb.rate}"/> <span th:text="${fb.comment}"></span></p>
<!--        <span th:if="${fbWithLike}" th:text="${fb.like}"/> Like(s) -->
<!--        <a th:href="@{/like/__${fb.id}__}"><button type="button">Like</button></a>-->
        <hr>
    </th:block>
</div>


<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=gkqPHeF0j9AlhQqX3t1NHC6L8naZPivihZhIAcQB';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
            document.getElementById('photo-src').value = response.url;
        }
    };
    request.send();
</script>
</body>
</html>