<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template::header('Product detail')}">
</head>
<body>
<div th:replace="~{template/template::pageloader}"></div>
<nav th:replace="~{template/template::navbar}"></nav>
<section th:replace="~{template/template::sidebar}"></section>

<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Customer detail
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Birthday</th>
                                <th>Gender</th>
                                <th>Id card</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody th:object=" ${customer}">
                            <tr>
                                <td th:text="*{customerId}"></td>
                                <td th:text="*{customerName}"></td>
                                <td th:text="*{customerTypeId.customerTypeName}"></td>
                                <td th:text="*{#dates.format(customerBirthday, 'dd/MM/yyyy')}"></td>
                                <td th:text="*{customerGender} == 1? Nam : Nữ"></td>
                                <td th:text="*{customerIdCard}"></td>

                                <!--                                <td th:text="*{#dates.format(outOfDate, 'dd-MM-yyyy')}"></td>-->
                                <td th:text="*{customerPhone}"></td>
                                <td th:text="*{customerEmail}"></td>
                                <td th:text="*{customerAddress}"></td>

                                <!--                                        <td th:text="*{sex ? 'Nam' : 'Nữ'}"></td>-->
                                <td>
                                    <a th:href="@{/customer/view/{id}(id=*{customerId})}"><button class="btn btn-warning" >View</button></a>
                                </td>
                                <td>
                                    <a th:href="@{/customer/edit/{id}(id=*{customerId})}"><button class="btn btn-info" >Edit</button></a>
                                </td>
                                <td><a th:href="@{/customer/delete/{id}(id=*{customerId})}"><button class="btn btn-danger" >Delete</button></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="~{template/template::script}"></div>
<div th:replace="~{template/template::footer}"></div>
</body>
</html>