<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template::header('Create contract')}">
</head>
<body>
    <div th:replace="~{template/template::pageloader}"></div>
    <nav th:replace="~{template/template::navbar}"></nav>
    <section th:replace="~{template/template::sidebar}"></section>

    <section class="content">
        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Add new contract
                            </h2>
                            <h3 class="text-danger" th:if="${mess != null}" th:text="${mess}"></h3>
                        </div>
                        <div class="body">
                            <form  id="form-register" th:action="@{/contract/create}" method="post" th:object="${contract}" enctype="multipart/form-data">
                                <label hidden for="id">ID: <span style="color: red;"> *</span></label>
                                <div hidden class="form-group">
                                    <div class="form-line">
                                        <input id="id" th:field="*{contractId}" class="form-control" placeholder=" ID" tabindex="1" autofocus="autofocus" />
                                    </div>

                                    <p style="color: red" th:if="${#fields.hasErrors('contractId')}"
                                       th:errors="*{contractId}"></p>
                                </div>


                                <label for="birthday">Start date: <span style="color: red;"> *</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="date" id="birthday" th:field="*{contractStartDate}" class="form-control"
                                               placeholder="Birthday" tabindex="2"/>
                                    </div>

                                    <p style="color: red" th:if="${#fields.hasErrors('contractStartDate')}"
                                       th:errors="*{contractStartDate}"></p>
                                </div>

                                <label for="birthday">End date: <span style="color: red;"> *</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="date" id="birthday" th:field="*{contractEndDate}" class="form-control"
                                               placeholder="Birthday" tabindex="2"/>
                                    </div>

                                    <p style="color: red" th:if="${#fields.hasErrors('contractEndDate')}"
                                       th:errors="*{contractEndDate}"></p>
                                </div>

                                <label for="card">Deposit: <span style="color: red;"> *</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="card" th:field="*{contractDeposit}" class="form-control" placeholder="Id card" tabindex="2" />
                                    </div>

                                    <p style="color: red" th:if="${#fields.hasErrors('contractDeposit')}"
                                       th:errors="*{contractDeposit}"></p>
                                </div>

                                <label for="card">Total money: <span style="color: red;"> *</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="card" th:field="*{contractTotalMoney}" class="form-control" placeholder="Id card" tabindex="2" />
                                    </div>

                                    <p style="color: red" th:if="${#fields.hasErrors('contractTotalMoney')}"
                                       th:errors="*{contractTotalMoney}"></p>
                                </div>

                                <label for="type">Customer: <span style="color: red;"> *</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="type" th:field="*{customerId}" class="form-control" tabindex="4">
                                            <option value="">Chọn</option>
                                            <option th:each="customer: ${customers}"
                                                    th:value="${customer.customerId}"
                                                    th:text="${customer.customerName}"
                                                    th:selected="${customer.customerId == (contract.customerId.customerId)}" />
                                        </select>

                                        <p style="color: red" th:if="${#fields.hasErrors('customerId')}"
                                           th:errors="*{customerId}"></p>
                                    </div>
                                </div>

                                <label for="type">Employee: <span style="color: red;"> *</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="type" th:field="*{employeeId}" class="form-control" tabindex="4">
                                            <option value="">Chọn</option>
                                            <option th:each="employee: ${employees}"
                                                    th:value="${employee.employeeId}"
                                                    th:text="${employee.employeeName}"
                                                    th:selected="${employee.employeeId == (contract.employeeId.employeeId)}" />
                                        </select>

                                        <p style="color: red" th:if="${#fields.hasErrors('employeeId')}"
                                           th:errors="*{employeeId}"></p>
                                    </div>
                                </div>

                                <label for="type">Service: <span style="color: red;"> *</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="type" th:field="*{serviceId}" class="form-control" tabindex="4">
                                            <option value="">Chọn</option>
                                            <option th:each="service: ${services}"
                                                    th:value="${service.serviceId}"
                                                    th:text="${service.serviceName}"
                                                    th:selected="${service.serviceId == (contract.serviceId.serviceId)}" />
                                        </select>

                                        <p style="color: red" th:if="${#fields.hasErrors('serviceId')}"
                                           th:errors="*{serviceId}"></p>
                                    </div>
                                </div>

<!--                                <label for="name">User name: <span style="color: red;"> *</span></label>-->
<!--                                <div class="form-group">-->
<!--                                    <div class="form-line">-->
<!--                                        <input id="name" th:field="*{username}" class="form-control" placeholder="User name" tabindex="2" />-->
<!--                                    </div>-->

<!--                                    <p style="color: red" th:if="${#fields.hasErrors('username')}"-->
<!--                                       th:errors="*{username}"></p>-->
<!--                                </div>-->

<!--                                <label for="Describe">Describe: <span style="color: red;"> *</span></label>-->
<!--                                <div class="form-group">-->
<!--                                    <div class="form-line">-->
<!--                                        <textarea id="Describe" th:field="*{description}" class="form-control" placeholder="Description" tabindex="2" rows="3" />-->
<!--                                    </div>-->
<!--                                </div>-->



<!--                                <label for="outOfDate">HSD: <span style="color: red;"> *</span></label>-->
<!--                                <div class="form-group">-->
<!--                                    <div class="form-line">-->
<!--                                        <input type="date" id="outOfDate" th:field="*{outOfDate}" class="form-control" placeholder="HSD" tabindex="2" />-->
<!--                                    </div>-->
<!--                                </div>-->


<!--                                <label for="factory">Factory: <span style="color: red;"> *</span></label>-->
<!--                                <div class="form-group">-->
<!--                                    <div class="form-line">-->
<!--                                        <select th:field="*{factory}" class="form-control" tabindex="4">-->
<!--                                            <option value=""></option>-->
<!--                                            <option th:each="factory : ${factories}"-->
<!--                                                    th:value="${factory.factoryCode}"-->
<!--                                                    th:text="${factory.name}"-->
<!--                                                    th:selected="${factory.factoryCode == (product.factory.factoryCode)}" />-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="form-group">-->
<!--                                    <div class="form-line">-->
<!--                                        <input type="radio" th:field="*{sex}" th:value="true" id="male"-->
<!--                                               th:selected="*{sex}" style="margin: unset;" th:tabindex="8">-->
<!--                                        <label th:text="Male" th:for="male"/>-->
<!--                                        <input type="radio" th:field="*{sex}" th:value="false" id="female"-->
<!--                                               th:selected="*{!sex}" style="margin: unset;">-->
<!--                                        <label th:text="Female" th:for="female"/>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <button type="submit" class="btn btn-primary btn-custom" tabindex="12"><i class="fa fa-check" aria-hidden="true"></i> Add</button>
                                <a th:href="@{/contract/list}" class="btn btn-primary btn-custom" tabindex="13"><i class="fa fa-remove" aria-hidden="true"></i> Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{template/template::script}"></div>
    <br>
    <div th:replace="~{template/template::footer}"></div>
</body>
</html>
