<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" method="post" th:object="${student}">
    Name student: <input th:field="*{nameStudent}"><br>
    <p style="color: red" th:if="${#fields.hasErrors('nameStudent')}" th:errors="*{nameStudent}"></p>
    Point student: <input th:field="*{point}"><br>
    <p style="color: red" th:if="${#fields.hasErrors('point')}" th:errors="*{point}"></p>
    Gender student: <input th:field="*{gender}"><br>
    Classroom: <select th:field="*{classRoom}">
    <option th:each="classroom : ${listClass}" th:value="${classroom.id}" th:text="${classroom.nameClass}">
    </option>
</select>
    <button type="submit">Create</button>
</form>
</body>
</html>